* {
    margin: 0; padding: 0; box-sizing: border-box;
}

            body {
                font-family: 'Outfit', sans-serif;
                min-height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-image: url(sectionBG.svg);
                background-color: #121826;
            }

            .heading {
                display: flex; flex-direction: column;
                font-size: 2.5rem; font-weight: 600;
                margin: 80px 0 20px 0;
                text-align: center;
                line-height: 2.5rem;
                color: #DEE9FC;
            }

            .subLine {
                color: #9DA3AE;
                margin-bottom: 60px;
            }

            .container {
                display: flex;
                justify-content: center;
                gap: 60px;
            }

            .card {
                display: flex; flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                background-color: #212936;
                max-width: 320px; width: 100%;
                border-radius: 12px;
                padding: 30px;
            }

            .emoji-1 {
                background-color: #FCEED8;
                padding: 15px;
                border-radius: 50%;
            }

            h2 {
                font-size: 1.25rem;
                font-weight: 600;
                color: #DEE9FC;
                line-height: 1.5rem;
            }

            .para {
                color: #9DA3AE;
            }

            img {
                width: 100%;
                border-radius: 12px;
            }

            .emoji-2 {
                background-color: #E5E7EB;
                padding: 15px;
                border-radius: 50%;            
            }

            .emoji-3 {
                background-color: #FBE5E6;
                padding: 15px;
                border-radius: 50%;   
            }

            @media (max-width: 1100px) {
                .container {
                    flex-wrap: wrap;
                    margin-bottom: 60px;
                }
            }